<div class="single-post">
    <div class="post-header">
        <div>
            <a href="post/{{id}}" class="post-name">{{title}}</a>
        </div>
        <div class="post-info">
            <p id="post-info">
                Posted by <b>{{user.username}} </b> on <b>{{date_created}}</b>
            </p>
        </div>
    </div>
    <div class="post-content">
        <p>{{content}}</p>
    </div>
</div>

